[submodule "ShapeGrammarLanguage"]
	path = ShapeGrammarLanguage
	url = https://github.com/msunde137/ShapeGrammarLanguage
[submodule "ShapeGrammars/Assets/ShapeGrammarLanguage"]
	url = https://github.com/msunde137/ShapeGrammarLanguage
